body .main .about h1 {
  position: absolute;
  font-size: 4.6rem;
  font-weight: 700;
  color: #00BCD4;
  margin-left: 3.5vw;
  margin-top: 2vw; }
body .main .about a {
  color: #00BCD4;
  font-weight: 400;
  font-size: 1.5rem;
  position: absolute;
  margin-left: 95vw;
  margin-top: 2vw; }
body .main .about img {
  position: absolute;
  z-index: 1;
  margin-left: 35vw;
  animation-name: cloud;
  animation-duration: 20s;
  animation-iteration-count: infinite; }
@keyframes cloud {
  10% {
    margin-left: 40vw;
    margin-top: 2.86vw; }
  30% {
    margin-left: 30vw;
    margin-top: 5.7vw; }
  50% {
    margin-left: 25vw;
    margin-top: 1.71vw; }
  70% {
    margin-left: 23vw;
    margin-top: 3.99vw; }
  90% {
    margin-left: 30vw;
    margin-top: 2.85; }
  100% {
    margin-left: 35vw;
    margin-top: 0vw; } }
body .main .about figure {
  position: absolute;
  width: 43vw;
  height: 27.2vw;
  margin-top: 15.8vw;
  border: 0.69vw solid black;
  background-image: url(../images/top/overview.jpg);
  background-size: cover; }
body .main .about .texts {
  position: absolute;
  width: 41vw;
  margin-left: 50vw;
  margin-top: 15.8vw; }
  body .main .about .texts p {
    font-size: 2.6rem;
    color: black;
    font-weight: 700;
    line-height: 2.9rem; }
    body .main .about .texts p:not(:first-of-type) {
      margin-top: 3.4vw; }
    body .main .about .texts p a {
      position: relative;
      font-size: 2.6rem;
      color: black;
      font-weight: 700;
      line-height: 2.9rem;
      color: #00BCD4; }
      body .main .about .texts p a:hover {
        color: black; }
body .main .stages h1 {
  font-size: 4.6rem;
  font-weight: 700;
  color: #00BCD4;
  margin-top: 5.7vw;
  margin-left: 30.8vw; }
body .main .stages img {
  position: absolute;
  width: 27.1vw;
  margin-top: -10%; }
  body .main .stages img:first-of-type {
    margin-left: 65vw; }
  body .main .stages img:nth-of-type(2) {
    margin-left: 3vw;
    margin-top: 30vw; }
body .main .stages .stagesSqr {
  position: absolute;
  width: 34vw;
  height: 35.2vw;
  margin-top: 3.2vw;
  margin-left: 30vw;
  background-color: white;
  border: 0.69vw solid black; }
  body .main .stages .stagesSqr div h1 {
    margin-left: 25%;
    font-size: 4.6rem;
    font-weight: 700;
    color: #00BCD4;
    color: black;
    cursor: pointer; }
    body .main .stages .stagesSqr div h1:hover {
      color: #00BCD4; }
  body .main .stages .stagesSqr div ul {
    position: static;
    font-weight: 400;
    font-size: 2.6rem;
    /*margin-left: 13%;*/
    line-height: 3rem;
    display: none; }
body .main .planss .top_plans {
  width: 100vw;
  height: 827px; }
  body .main .planss .top_plans p {
    font-size: 2.6rem;
    color: black;
    font-weight: 700;
    line-height: 2.9rem;
    position: absolute;
    width: 37.5vw;
    margin-top: 20vw;
    margin-left: 3.5vw; }
  body .main .planss .top_plans .reception_plan {
    position: absolute;
    width: 20.8vw;
    height: 10.6vw;
    margin-left: 3.8vw;
    margin-top: 40vw;
    background-size: cover; }

.second .reception_plan {
  background-image: url(../images/top/sun_plan.png);
  width: 15vw;
  height: 15vw; }

.third .reception_plan {
  background-image: url(../images/top/cloud_plan.png);
  width: 15vw;
  height: 15vw; }

.fourth .reception_plan {
  background-image: url(../images/top/rain_plan.png);
  width: 15vw;
  height: 15vw; }

.fifth .reception_plan {
  background-image: url(../images/top/storm_plan.png);
  width: 15vw;
  height: 15vw; }

.nav {
  position: absolute;
  width: 48.6vw;
  display: flex;
  justify-content: space-between;
  margin-left: 49.7vw; }

.nav.top {
  margin-top: 2vw; }

.nav.top p,
.nav.top figure {
  position: static; }

.nav p {
  font-weight: 600;
  font-size: 2.6rem; }

.nav.top figure svg {
  width: 4.4vw;
  height: 3.829vw;
  background-size: cover; }

.gallery {
  position: absolute;
  width: 50vw;
  height: 28.9vw;
  margin-top: 20vw;
  margin-left: 47.7vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.photosTop {
  width: 43vw;
  height: 27.2vw;
  background-size: cover;
  border: 10px solid black; }

.first .photosTop {
  background-image: url(../images/top/reception.jpg); }

.second .photosTop {
  background-image: url(../images/top/sun.jpg); }

.third .photosTop {
  background-image: url(../images/top/cloud.jpg); }

.fourth .photosTop {
  background-image: url(../images/top/rain.jpg); }

.fifth .photosTop {
  background-image: url(../images/top/storm.jpg); }

.gallery i {
  font-size: 4rem;
  cursor: pointer; }

.gallery i:hover {
  color: #00BCD4; }

.nav.bottom {
  /*display: none;*/
  margin-top: 53.3vw; }

p > p {
  font-size: 10px; }

/*# sourceMappingURL=about.css.map */
