* {
  box-sizing: border-box;
}

:root {
  font-size: 0.69vw;
}

body {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;

  background-image: url(../images/vectors/pattern2.svg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 827px;
}

section:not(:last-of-type) {
  padding-bottom: 5vw;
}

a {
  text-decoration: none;
  color: black;
}

.background {
  position: absolute;
  width: 100vw;
  height: 3308px;
  margin-top: -4118px;
}

.background svg {
  position: absolute;
  width: 100vw;
  height: 3308px;
  z-index: -1;
  margin-top: 0;
}

@media screen and (min-width: 1620px) {
  section {
    height: 760px;
    margin-top: 300px;
  }
}
