.plan1{
  height: 100vh;
  width: 100vw;
  top: 827px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles {
  width: 900px;
  height: 755px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#string1,
#string2,
#string3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#string1 {
  width: 350px;
  height: 175px;
}

#string2 {
  width: 900px;
  height: 350px;
  margin-top: -110px;
}

#string3 {
  width: 715px;
  height: 350px;
}

.halfCircle,
.circle {
  width: 350px;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.halfCircle {
  height: 175px;
  border-radius: 0 0 350px 350px;
}

.circle {
  height: 350px;
  border-radius: 350px;
}

.halfCircle:hover,
.circle:hover {
  width: 375px;
  transition: all 1s ease;
  z-index: 100;
}

.halfCircle:hover {
  height: 200px;
}

.circle:hover {
  height: 375px;
}


.halfCircle p,
.circle p {
  margin-top: 50px;
  animation: none;
  font-size: 35px;
  color: white;
  opacity: 0;
}

.circle p {
  margin-top: 150px;
}

.halfCircle:hover p,
.circle:hover p {
  opacity: 1;
  transition: all 1s ease;
}
