.plan {

}

.plan h1 {
  margin-top: 1735px;
}

.plan p {
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  color: rgba(155, 0, 255, 1);
  width: 500px;
  margin-top: 1735px;
  margin-left: 865px;
  position: absolute;
}

.plan img {
  margin-top: 2110px;
  margin-left: 120px;
  position: absolute;
  border: 10px solid #1d1d1b;
}

#plan {
  position: absolute;
  width: 235px;
  margin: 1735px 0 0 520px;
}

.plan p.number {
  font-weight: 800;
  font-size: 100px;
  margin: 2000px 0 0 50px;
  position: absolute;
}

.chevrons {
  position: absolute;
  margin-top: 2260px;
  margin-left: 40px;
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.chevron {
  width: 40px;
  height: 40px;
  border-right: 10px solid black;
  border-top: 10px solid black;
}

.right {
  transform: rotate(45deg);
}

.left {
  transform: rotate(-135deg);
}

#rain {
  position: absolute;
  width: 602px;
  opacity: .8;
}

#rain:first-of-type {
  margin-top: 1407px;
}

#rain:nth-of-type(2) {
  margin-top: 1957px;
}

#rain:nth-of-type(3) {
  width: 720px;
  height: 560px;
  margin-top: 1684px;
  margin-left: 700px;
}

@media screen and (max-width: 1340px) {
  .plan {
    width: 1000px;
    margin-top: 1250px;
  }

  .plan h1 {
    margin-top: 1800px;
    margin-left: 200px;
  }

  .plan p {
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;
    color: rgba(155, 0, 255, 1);
    width: 500px;
    margin-top: 1970px;
    margin-left: 200px;
    position: absolute;
  }

  .plan img {
    margin-top: 2450px;
    margin-left: 200px;
    position: absolute;
    border: 10px solid #1d1d1b;
  }

  #plan {
    position: absolute;
    width: 235px;
    margin: 1800px 0 0 660px;
  }

  .plan p.number {
    font-weight: 800;
    font-size: 100px;
    margin: 2000px 0 0 110px;
    position: absolute;
  }

  .chevrons {
    position: absolute;
    margin-top: 2620px;
    margin-left: 130px;
    width: 750px;
    display: flex;
    justify-content: space-between;
  }

  .chevron {
    width: 40px;
    height: 40px;
    border-right: 10px solid black;
    border-top: 10px solid black;
  }

  .right {
    transform: rotate(45deg);
  }

  .left {
    transform: rotate(-135deg);
  }

  #rain {
    position: absolute;
    width: 960px;
  }

  #rain:first-of-type {
    margin-top: 480px;
  }

  #rain:nth-of-type(2) {
    margin-top: 1355px;
  }

  #rain:nth-of-type(3) {
    margin-top: 1955px;
    margin-left: 200px;
    width: 960px;
  }
}
