* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 1440px;
  height: 3988px;
  /*background-image: url(../images/mockup.png);*/
  background-size: cover;
}

h1 {
  font-weight: 800;
  font-size: 46px;
  line-height: 47px;
}
