.plan {
  width: 100%;
  height: 827px;
  margin-top: 200px;
}

.plan h1 {

}

.plan p {
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  color: rgba(155, 0, 255, 1);
  width: 500px;
  position: absolute;
  margin: 150px 0 0 850px;
}

.plan img {
  position: absolute;
  margin: 400px 0 0 100px;
  border: 10px solid #1d1d1b;
}

#plan {
  position: absolute;
  width: 235px;
  margin: 30px 0 0 500px;
}

.plan p.number {
  font-weight: 800;
  font-size: 100px;
  margin: 50px 0 0 830px;
  position: absolute;
}

.chevrons {
  position: absolute;
  width: 715px;
  display: flex;
  justify-content: space-between;
  margin: 550px 0 0 45px;
}

.chevron {
  width: 40px;
  height: 40px;
  border-right: 10px solid black;
  border-top: 10px solid black;
}

.right {
  transform: rotate(45deg);
}

.left {
  transform: rotate(-135deg);
}

@media screen and (max-width: 1340px) {
  .plan {
    width: 1000px;
    height: 1100px;
  }

  .plan h1 {
    margin-left: 180px;
  }

  .plan p {
    width: 500px;
    margin: 200px 0 0 180px;
  }

  .plan img {
    margin: 700px 0 0 180px;
  }

  #plan {
    margin: 30px 0 0 650px;
  }

  .plan p.number {
    margin: 220px 0 0 100px;
  }

  .chevrons {
    margin: 850px 0 0 122px;
  }
}
