.background {
  margin-top: 100px;
  padding-bottom: 30px;
  width: 301vw;
}

.block:first-of-type {
  width: 180vw;
  display: inline-block;
  position: absolute;
  margin-left: 100vw;
  animation-name: example;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes example {
    0%   {margin-left: 100vw;}
    100% {margin-left: -100vw;}
}

.block:nth-of-type(2) {
  width: 180vw;
  display: inline-block;
  position: absolute;
  margin-left: 100vw;
  animation-name: example2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 3s;
}

@keyframes example2 {
    0%   {margin-left: 100vw;}
    100% {margin-left: -100vw;}
}

.block:last-of-type {
  width: 180vw;
  display: inline-block;
  position: absolute;
  margin-left: 100vw;
  animation-name: example;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes example {
    0%   {margin-left: 100vw;}
    100% {margin-left: -100vw;}
}

.lines {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.letter {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 170pt;
  color: rgba(100, 100, 100, 1);
  text-decoration: none;
}

.letter:hover {
  color: rgba(57, 255, 20, 1);
}
