.top_plans {
  width: 100vw;
  height: 827px;
}

.top_plans > p {
  font-size: 2.6rem;
  font-weight: 400;

  position: absolute;
  width: 37.5vw;
  margin-top: 20vw;
  margin-left: 3.5vw;
}

.reception_plan {
  position: absolute;
  width: 20.8vw;
  height: 10.6vw;
  margin-left: 3.8vw;
  margin-top: 40vw;
  background-size: cover;
}

.first .reception_plan {
  background-image: url(../images/top/reception_plan.png);
}

.second .reception_plan {
  background-image: url(../images/top/sun_plan.png);
  width: 15vw;
  height: 15vw;
}

.third .reception_plan {
  background-image: url(../images/top/cloud_plan.png);
  width: 15vw;
  height: 15vw;
}

.fourth .reception_plan {
  background-image: url(../images/top/rain_plan.png);
  width: 15vw;
  height: 15vw;
}

.fifth .reception_plan {
  background-image: url(../images/top/storm_plan.png);
  width: 15vw;
  height: 15vw;
}

.nav {
  position: absolute;
  width: 48.6vw;
  display: flex;
  justify-content: space-between;
  margin-left: 49.7vw;
}

.nav.top {
  margin-top: 2vw;
}

.nav.top p,
.nav.top figure {
  position: static;
}

.nav p {
  font-weight: 600;
}

.nav.top figure svg {
  width: 4.4vw;
  height: 3.829vw;
  background-image: url(../images/vectors/top_small.svg);
  background-size: cover;
}

.gallery {
  position: absolute;
  width: 50vw;
  height: 28.9vw;
  margin-top: 20vw;
  margin-left: 47.7vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.photosTop {
  width: 43vw;
  height: 27.2vw;
  background-size: cover;
  border: 10px solid black;
}

.first .photosTop {
  background-image: url(../images/top/reception.jpg);
}

.second .photosTop {
  background-image: url(../images/top/sun.jpg);
}

.third .photosTop {
  background-image: url(../images/top/cloud.jpg);
}

.fourth .photosTop {
  background-image: url(../images/top/rain.jpg);
}

.fifth .photosTop {
  background-image: url(../images/top/storm.jpg);
}

.gallery i {
  font-size: 4rem;
  cursor: pointer;
}

.gallery i:hover {
  color: #00BCD4;
}

.nav.bottom {
  /*display: none;*/
  margin-top: 53.3vw;
}

p > p {
  font-size: 10px;
}
