* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-image: url(../images/mockup.png);*/
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.wrapper {
  width: 1440px;
  height: 3740px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.background {
  width: 1440px;
  height: 3740px;
  overflow: hidden;
  position: absolute;
  opacity: .5;
}

.footer {
  width: 1440px;
  height: 100px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  width: 100px;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
  color: rgba(155, 0, 255, 1);
  z-index: 500;
}

.footer a:hover {
  color: black;
}

.footer p {
  position: absolute;
  font-size: 12px;
  line-height: 18px;
}

.footer p:first-of-type {
  margin-left: -570px;
}

.footer p:last-of-type {
  margin-left: 600px;
}

#storm {
  margin-top: 200px;
}

.background svg:last-of-type {
  margin-top: 80px;
}

h1 {
  font-weight: 800;
  font-size: 46px;
  line-height: 47px;
}

.onmouseover {
  width: 100vw;
  height: 500px;
  position: absolute;
}

.one {
  margin-top: 1300px;
}

.two {
  margin-top: 2340px;
}

.three {

}

@media screen and (min-width: 1341px) {
  .notFull {
    display: none;
  }
}

@media screen and (max-width: 1340px) {
  .wrapper {
    width: 800px;
    height: 5100px;
    /*display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;*/
  }

  .background {
    height: 5100px;
  }

  #storm:last-of-type {
    display: block;
  }

  .full {
    display: none;
  }

  .footer {
    width: 800px;
    margin-top: 200px;
  }

  .footer p:first-of-type {
    margin-left: -300px;
  }

  .footer p:last-of-type {
    margin-left: 320px;
  }

  .one {
    margin-top: 2300px;
  }

  .two {
    margin-top: 3240px;
  }

}

@media screen and (min-width: 1441px) {
  .wrapper {
    border-left: 10px solid #1d1d1b;
    border-right: 10px solid #1d1d1b;
    overflow-x: hidden;
  }
}
